/* components/RentableCars.module.css */
.container {
    padding: 128px;
}

.formContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form {
    display: flex;
    flex-direction: column;
}

.inputGroup {
    margin-top: 12px;
    margin-bottom: 16px;
}

.input {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}
